header .profile-image {
  margin-top: 50px;
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 5px double white;
  transition: all 1s;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header .profile-image:hover {
  transform: scale(1.1);
}
